<section class="main">
  <img class="pyramid" src="https://images.unsplash.com/photo-1493564832173-630cc9e0765d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80" alt="Egypt pyramid" />
  <img class="left-img" src="https://cdn.pixabay.com/photo/2012/10/26/00/46/human-62966__480.jpg" alt="Left Rock" id="left-img" />
  <h1 class="title" id="title">Da Vinci</h1>
</section>
<section class="introduction">
  <div class="content">
    <h2 class="subtitle">Leonardo Da Vinci</h2>
    <p class="paragraph">
      (April 15, 1452 – May 2, 1519) Leonardo di ser Piero da Vinci (April 15, 1452 – May 2, 1519)
      was an Italian polymath, having been a scientist, mathematician, engineer, inventor, anatomist,
      painter, sculptor, architect, botanist, musician and writer. Born as the illegitimate son of a
      notary, Piero da Vinci, and a peasant girl, Caterina, at Vinci in the region of Florence,
      Leonardo was educated in the studio of the renowned Florentine painter, Verrocchio. Much of his
      earlier working life was spent in the service of Ludovico il Moro in Milan. He later worked in
      Rome, Bologna and Venice, spending his final years in France at the home given to him by King
      François I.
    </p>
    <p class="paragraph">
      Leonardo has often been described as the archetype of the "Renaissance man", a man whose seemingly
      infinite curiosity was equalled only by his powers of invention. He is widely considered to be one
      of the greatest painters of all time and perhaps the most diversely talented person ever to have
      lived.
    </p>
    <p class="paragraph">
      It is primarily as a painter that Leonardo was and is renowned. Two of his works, the Mona Lisa
      and The Last Supper occupy unique positions as the most famous, most reproduced and most parodied
      portrait and religious painting of all time, their fame approached only by Michelangelo's Creation
      of Adam. Leonardo's drawing of the Vitruvian Man is also iconic. Perhaps fifteen of his paintings
      survive, the small number due to his constant, and frequently disastrous, experimentation with new
      techniques, and his chronic procrastination. Nevertheless, these few works together with his notebooks,
      which contain drawings, scientific diagrams, and his thoughts on the nature of painting, comprise a
      contribution to later generations of artists only rivalled by that of his contemporary, Michelangelo.
    </p>
    <p class="paragraph">
      As an engineer, Leonardo's ideas were vastly ahead of his time. He conceptualised a helicopter, a
      tank, concentrated solar power, a calculator, the double hull and outlined a rudimentary theory of
      plate tectonics. Relatively few of his designs were constructed or were even feasible during his
      lifetime, but some of his smaller inventions, such as an automated bobbin winder and a machine for
      testing the tensile strength of wire, entered the world of manufacturing unheralded.[d] As a scientist,
      he greatly advanced the state of knowledge in the fields of anatomy, civil engineering, optics, and
      hydrodynamics. (From Wikipedia)
    </p>

    <a href="https://en.wikipedia.org/wiki/Egypt" target="blank" rel="noopener" class="link">
      Read more
    </a>
  </div>
  <img class="img-banner" src="https://cdn.pixabay.com/photo/2020/04/01/21/48/leonardo-da-vinci-4992831__480.png" alt="The Pyramids Of Giza" />
</section>
<section class="popular">
  <h2 class="subtitle">Popular artworks</h2>
  <br/>
  <br/>
  <div class="gallery">
    <div class="card" *ngFor="let picture of pictures">
      <div class="card__content">
        <h6 class="card__title">{{picture.name}}</h6>
        <p class="card__description">
          {{picture.description}}
        </p>
      </div>
      <img class="card__img" [src]="picture.image" alt="Giza Necropolis" />
    </div>
  </div>
</section>
<footer class="footer">
  <h1 class="title footer-title">Leonardo</h1>
</footer>
