/* You can add global styles to this file, and also import other style files */
:root {
  --manhatta: #F4C784;
  --redwood: #641E11;
  --transition-function: cubic-bezier(0.74, 0.04, 1, 1.34);
  --transition-time: 330ms;
  --white: #FFF;
}

body {
  background-color: var(--manhatta);
}
